.dart_tool/
.idea/
.metadata
.packages
build/
pubspec.lock
android/.gradle/
android/local.properties
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/android/.gradle/
example/android/local.properties
